@charset "utf-8";

@use 'sass:math';
@use 'sass:list';

// Core

@import 'core/normalize';

.bottom-bar {
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
    bottom: 0;
    height: 64px;
    position: relative;
    width: 100%;
}
