@charset "utf-8";

@use 'sass:math';
@use 'sass:list';

// Core

@import 'core/normalize';

.text-styles {
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
}
.popup {
    font-family: 'Inter, sans-serif !important';
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 16px !important;
    letter-spacing: 0em !important;
    text-align: center !important;
    color: #000048 !important;
}
.title {
    font-family: 'Inter, sans-serif !important';
    font-size: 24px !important;
    font-weight: 400 !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: #000048 !important;
}
.description {
    font-family: 'Inter, sans-serif !important';
    font-size: 17px !important;
    font-weight: 400 !important;
    line-height: 16px !important;
    letter-spacing: 0em !important;
    color: #000048 !important;
}
.cancel {
    font-family: 'Inter, sans-serif !important';
    font-size: 11px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    letter-spacing: 0em !important;
    text-align: center !important;
    color: #000048 !important;
}
.delete-issue {
    font-family: 'Inter, sans-serif !important';
    font-size: 11px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    letter-spacing: 0em !important;
    text-align: center !important;
    color: #ffffff !important;
}
.desc-wrap {
    width: 472px !important;
    height: 72px !important;
    top: -10px !important;
    left: 40px !important;
    position: relative !important;
}
.cancel-button {
    width: 96px !important;
    height: 40px !important;
    padding: 8px 24px !important;
    border-radius: 100px !important;
    border: 1px solid gray !important;
    gap: 8px !important;
}
.delete-button {
    width: 132px !important;
    height: 40px !important;
    padding: 8px 24px !important;
    border-radius: 100px !important;
    gap: 8px !important;
}
.trigger-button {
    width: 116px !important;
    height: 32px !important;
    padding: 8px 16px !important;
    gap: 8px !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
//toolbar
.Icona {
    position: absolute !important;
    top: 52px !important;
    width: 116px !important;
    padding: 8px 0px !important;
    border-radius: 6px !important;
    background-color: white !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
    z-index: 1000 !important;
    left: 610px !important;
    transform: translateX(-50%) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 48px !important;
}
