@charset "utf-8";

@use 'sass:math';
@use 'sass:list';

// Core

@import 'core/normalize';

.userDropdownMenu {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(229, 229, 229);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 60px;
    top: 63px;
    width: 250px;
    z-index: 2;
}
