@charset "utf-8";

@use 'sass:math';
@use 'sass:list';

// Core

@import 'core/normalize';

.Description {
    font-family: 'Inter', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #666666;
}
.ActualDescription {
    font-family: 'Inter', sans-serif;
    font-size: 15px !important;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000048;
}
.cancelButton {
    width: 81px !important;
    height: 35px !important;
    padding: 8px 24px !important;
    border-radius: 100px !important;
    gap: 8px !important;
    background: white;
    border-color: #dddddd !important;
}
.saveButton {
    width: 81px !important;
    height: 35px !important;
    padding: 8px 24px !important;
    border-radius: 100px !important;
    gap: 8px !important;
    background: #000048 !important;
}
.TabFooter {
    width: 100% !important;
    bottom: 0 !important;
    border-radius: 0 0 12px 12px !important;
    border: 1px 0 0 0 !important;
    gap: 8px !important;
    border-top: 1px solid #dddddd !important;
    display: flex !important;
    justify-content: flex-end !important;
    background-color: #ffffff;
    right: 0;
    margin-top: 20px;
    padding-top: 10px;
}
