@charset "utf-8";

@use 'sass:math';
@use 'sass:list';

// Core

@import 'core/normalize';

.Description {
  font-family: 'Inter', sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: green;
}
