@charset "utf-8";

@use 'sass:math';
@use 'sass:list';

// Core

@import 'core/normalize';
//Sidebar

.sidebar {
    width: 72px;
    height: 3155px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border-right: 1px solid #DDDDDD;
    padding: 16px 0px 16px 0px;
    gap: 8px;
    z-index: 1; /* Above all content */
  }

  .sidebar-content-wrapper {
    width: 48px;
    height: 208px;
    gap: 40px; /* Gap between elements inside the content */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
  }

  .sidebar-logo-1 {
    width: 40px;
    height: 40px;
  }

  .Home.button,
  .Profile.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    background-color: transparent;
}

.text-styles {
  font-family: 'Inter';
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
}

.home-text-wrapper-styles {
  width: 29px;
  height: 12px;
}

.profile-text-wrapper-styles {
  width: 48px;
  height: 12px;
}

.border-styles-active {
  width:  36px;
  height: 36px;
  left: 6px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(61, 84, 206, 0.12) 0.02%, rgba(53, 202, 207, 0.12) 100.04%);
}

.border-styles-inactive {
  width:  36px;
  height: 36px;
  left: 6px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
