
// @import "fontsource/inter";
// @use "../values/colors";

//NOT USED

.CardVoteButton {
    font-weight: 600;
    size: 14px;
    line-height: 16px;
    align-content: center;
    align-items: center;
    color: '#000048';
    // font-family: "Inter";
}

.DrawerVoteButton {
    font-weight: 400;
    size: 14px;
    line-height: 20px;
    color: '#000048';
    // font-family: "Inter";
}